In [ ]:
import re
from datetime import datetime
from dateutil.relativedelta import relativedelta

import numpy as np
import pandas as pd
from pandas import Series

!pip install kmodes
from kmodes.kmodes import KModes

import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('classic')
%matplotlib inline
sns.set()

Requirement already satisfied: kmodes in /usr/local/lib/python3.7/dist-packages (0.11.1)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.19.5)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.4.1)
Requirement already satisfied: scikit-learn>=0.22.0 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.0.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22.0->kmodes) (3.0.0)

# Employee

In [ ]:
df_employee = pd.read_excel("data/EmployeeRecords.xlsx")
df_employee

          LastName FirstName  ... MilitaryDischargeType MilitaryDischargeDate
0           Bramar       Mat  ...                   NaN                   NaT
1           Ribera      Anda  ...                   NaN                   NaT
2         Pantanal    Rachel  ...                   NaN                   NaT
3            Lagos     Linda  ...                   NaN                   NaT
4       Mies Haber  Ruscella  ...    HonorableDischarge            1984-10-01
5        Forluniau     Carla  ...      GeneralDischarge            2001-10-01
6             Lais  Cornelia  ...      GeneralDischarge            2011-10-01
7             Onda     Marin  ...                   NaN                   NaT
8         Borrasca    Isande  ...                   NaN                   NaT
9           Calzas      Axel  ...                   NaN                   NaT
10          Orilla      Kare  ...                   NaN                   NaT
11          Orilla      Elsa  ...                   NaN                   NaT
12       Tempestad     Brand  ...                   NaN                   NaT
13           Azada      Lars  ...      GeneralDischarge            1995-10-01
14           Balas     Felix  ...    HonorableDischarge            1988-10-01
15           Dedos   Lidelse  ...                   NaN                   NaT
16          Frente  Birgitta  ...                   NaN                   NaT
17        Nubarron      Adra  ...                   NaN                   NaT
18           Cazar    Gustav  ...                   NaN                   NaT
19          Frente      Vira  ...                   NaN                   NaT
20      Vasco-Pais    Willem  ...                   NaN                   NaT
21    Sanjorge Jr.      Sten  ...                   NaN                   NaT
22        Barranco    Ingrid  ...                   NaN                   NaT
23  Campo-Corrente       Ada  ...                   NaN                   NaT
24           Strum     Orhan  ...                   NaN                   NaT
25            Ovan  Bertrand  ...    HonorableDischarge            1993-10-01
26            Arpa     Emile  ...      GeneralDischarge            2012-10-01
27          Awelon     Varro  ...      GeneralDischarge            2006-10-01
28        Coginian     Dante  ...      GeneralDischarge            1992-10-01
29           Hafon    Albina  ...      GeneralDischarge            2007-10-01
30         Hawelon    Benito  ...    HonorableDischarge            1999-10-01
31         Hawelon   Claudio  ...      GeneralDischarge            2003-10-01
32            Mies      Henk  ...    HonorableDischarge            2004-10-01
33          Morlun   Valeria  ...    HonorableDischarge            2001-10-01
34          Morlun      Adan  ...    HonorableDischarge            2005-10-01
35       Morluniau   Cecilia  ...      GeneralDischarge            2008-10-01
36            Nant     Irene  ...      GeneralDischarge            2005-10-01
37        Scozzese     Dylan  ...    HonorableDischarge            2006-10-01
38          Bergen    Linnea  ...                   NaN                   NaT
39         Alcazar     Lucas  ...                   NaN                   NaT
40            Baza      Isak  ...                   NaN                   NaT
41         Calixto      Nils  ...                   NaN                   NaT
42          Flecha      Sven  ...                   NaN                   NaT
43         Herrero     Kanon  ...                   NaN                   NaT
44           Lagos     Varja  ...                   NaN                   NaT
45           Fusil    Stenig  ...    HonorableDischarge            1987-10-01
46            Mies     Minke  ...      GeneralDischarge            2011-10-01
47         Osvaldo    Hennie  ...      GeneralDischarge            2010-10-01
48            Vann      Isia  ...      GeneralDischarge            2007-10-01
49            Vann    Edvard  ...    HonorableDischarge            2011-10-01
50         Resumir     Felix  ...    HonorableDischarge            1997-10-01
51         Bodrogi    Loreto  ...    HonorableDischarge            2008-10-01
52        Cocinaro    Hideki  ...    HonorableDischarge            2009-10-01
53           Ferro      Inga  ...      GeneralDischarge            2012-10-01

[54 rows x 18 columns]

In [ ]:
df_employee.loc[df_employee.FirstName == "Isia"]

   LastName FirstName  ... MilitaryDischargeType MilitaryDischargeDate
48     Vann      Isia  ...      GeneralDischarge            2007-10-01

[1 rows x 18 columns]

In [ ]:
df_employee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 18 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   LastName                    54 non-null     object
 1   FirstName                   54 non-null     object
 2   BirthDate                   54 non-null     datetime64[ns]
 3   BirthCountry                54 non-null     object
 4   Gender                      54 non-null     object
 5   CitizenshipCountry          54 non-null     object
 6   CitizenshipBasis            54 non-null     object
 7   CitizenshipStartDate        54 non-null     datetime64[ns]
 8   PassportCountry             33 non-null     object
 9   PassportIssueDate           33 non-null     datetime64[ns]
 10  PassportExpirationDate      33 non-null     datetime64[ns]
 11  CurrentEmploymentType       54 non-null     object
 12  CurrentEmploymentTitle      54 non-null     object
 13  CurrentEmploymentStartDate  54 non-null     datetime64[ns]
 14  EmailAddress                54 non-null     object
 15  MilitaryServiceBranch       27 non-null     object
 16  MilitaryDischargeType       27 non-null     object
 17  MilitaryDischargeDate       27 non-null     datetime64[ns]
dtypes: datetime64[ns](6), object(12)
memory usage: 7.7+ KB

In [ ]:
df_employee.isna().sum()

LastName                       0
FirstName                      0
BirthDate                      0
BirthCountry                   0
Gender                         0
CitizenshipCountry             0
CitizenshipBasis               0
CitizenshipStartDate           0
PassportCountry               21
PassportIssueDate             21
PassportExpirationDate        21
CurrentEmploymentType          0
CurrentEmploymentTitle         0
CurrentEmploymentStartDate     0
EmailAddress                   0
MilitaryServiceBranch         27
MilitaryDischargeType         27
MilitaryDischargeDate         27
dtype: int64

### Create FullName

In [ ]:
df_employee["FullName"] = df_employee.FirstName + " " + df_employee.LastName

In [ ]:
df_employee.nunique()

LastName                      47
FirstName                     53
BirthDate                     54
BirthCountry                   3
Gender                         2
CitizenshipCountry             2
CitizenshipBasis               2
CitizenshipStartDate          54
PassportCountry                1
PassportIssueDate             29
PassportExpirationDate        29
CurrentEmploymentType          6
CurrentEmploymentTitle        30
CurrentEmploymentStartDate    54
EmailAddress                  54
MilitaryServiceBranch          4
MilitaryDischargeType          2
MilitaryDischargeDate         19
FullName                      54
dtype: int64

### Delete PassportCountry, CitizenshipStartDate

In [ ]:
# PassportCountry contiene solo il valore "Tethys"

print( df_employee.PassportCountry.unique() )

df_employee = df_employee.drop("PassportCountry", axis=1)

['Tethys' nan]

In [ ]:
# Tutti i dipendenti sono nati nell'isola (tutti hanno ricevuto la cittadinanza alla nascita). quindi le due date coincidono.

print( (df_employee.BirthDate == df_employee.CitizenshipStartDate).sum() )

df_employee = df_employee.drop("CitizenshipStartDate", axis=1)

54

### Transform Dates in Years Delta

In [ ]:
# la data di riferimento al momento dei dati è il 21 Gennaio 2014
today = datetime.strptime("2014-01-21", "%Y-%m-%d")

In [ ]:
df_employee["Age"] = df_employee.BirthDate.apply(lambda date: relativedelta(today, date).years)
df_employee = df_employee.drop("BirthDate", axis=1)

In [ ]:
df_employee["YearsSinceCurrentEmploymentStart"] = df_employee.CurrentEmploymentStartDate.apply(lambda date: relativedelta(today, date).years)
df_employee = df_employee.drop("CurrentEmploymentStartDate", axis=1)

In [ ]:
def temp(today, date):
    if not pd.isnull(date):
        return abs(relativedelta(today, date).years)
    return date

df_employee["YearsSincePassportIssueDate"] = df_employee.PassportIssueDate.apply(lambda date: temp(today, date))
df_employee = df_employee.drop("PassportIssueDate", axis=1)

In [ ]:
df_employee["YearsToPassportExpirationDate"] = df_employee.PassportExpirationDate.apply(lambda date: temp(today, date))
df_employee = df_employee.drop("PassportExpirationDate", axis=1)

In [ ]:
df_employee["YearsSinceMilitaryDischargeDate"] = df_employee.MilitaryDischargeDate.apply(lambda date: temp(today, date))
df_employee = df_employee.drop("MilitaryDischargeDate", axis=1)

### Bind Age and YearsSinceCurrentEmploymentStart

In [ ]:
def bindAge(age):
    if age < 30:
        return "< 30"
    elif age < 40:
        return ">= 30, < 40"
    else:
        return ">= 40"

df_employee["AgeBind"] = df_employee.Age.apply(lambda age: bindAge(age))

In [ ]:
def bindYSCES(ysces):
    if ysces < 5:
        return "< 5"
    elif ysces < 10:
        return ">= 5, < 10"
    else:
        return ">= 10"

df_employee["YSCESBind"] = df_employee.YearsSinceCurrentEmploymentStart.apply(lambda ysces: bindYSCES(ysces))

## Aggiunta dei membri POK al dataset

In [ ]:
pok_member=["Carmine Osvaldo", "Ale L. Hanne", "Jeroen Karel", "Valentine Mies", "Yanick Cato", "Joreto Katell", "Henk Bodrogi", "Elian Karel", "Silvia Marek", "Mandor Vann", "Petrus Gerhard", "Maha Salo", "Joclyn Reynolds", "Cesare Nespola", "Lucio Jakab", "Lorenzo Di Stefano", "Michale Kraft", "Jon L.", "Kriste Bronte", "Hank Fluss"]
df_pok = pd.DataFrame(pok_member, columns=['FullName'], index=range(len(pok_member)))
df_employee = pd.concat([df_employee,df_pok], ignore_index=True)

## Membership

In [ ]:
pok_gastech_member=["Isia Vann", "Inga Ferro", "Loreto Bodrogi", "Hennie Osvaldo", "Minke Mies", "Ruscella Mies Haber", "Rachel Pantanal"]
pok_gastech = pd.DataFrame(pok_gastech_member, columns=['name'], index=range(len(pok_gastech_member)))

In [ ]:
def conditions_memb(df):
    if df['FullName'] in set(pok_gastech['name']):
        return 'POK and GAStech'
    elif df['FullName'] in set(df_pok['FullName']):
        return 'POK'
    else:
        return 'GAStech'

df_employee['Membership']= df_employee.apply(conditions_memb, axis=1)

### K Modes

In [ ]:
'''clustering_features = ['LastName', 'BirthCountry', 'Gender', 'CitizenshipCountry', 'CitizenshipBasis',
                       'CurrentEmploymentType', 'CurrentEmploymentTitle', 'Age', 'YearsSinceCurrentEmploymentStart']'''

"clustering_features = ['LastName', 'BirthCountry', 'Gender', 'CitizenshipCountry', 'CitizenshipBasis',\n                       'CurrentEmploymentType', 'CurrentEmploymentTitle', 'Age', 'YearsSinceCurrentEmploymentStart']"

In [ ]:
'''km = KModes(n_clusters=2, init='Huang', n_init=5, verbose=1)

df_employee["Cluster"] = km.fit_predict(df_employee[clustering_features])

# Print the cluster centroids
print('\n\n')
print('Clusters Centroids:\n', km.cluster_centroids_)'''

'km = KModes(n_clusters=2, init=\'Huang\', n_init=5, verbose=1)\n\ndf_employee["Cluster"] = km.fit_predict(df_employee[clustering_features])\n\n# Print the cluster centroids\nprint(\'\n\n\')\nprint(\'Clusters Centroids:\n\', km.cluster_centroids_)'

### POK Suspected

In [ ]:
''' pok = {"Carmine Osvaldo", "Ale L. Hanne", "Jeroen Karel", "Valentine Mies", "Yanick Cato", "Joreto Katell", "Henk Bodrogi", "Elian Karel", "Silvia Marek", "Mandor Vann", "Petrus Gerhard", "Maha Salo", "Joclyn Reynolds", "Cesare Nespola", "Lucio Jakab", "Lorenzo Di Stefano", "Michale Kraft", "Jon L.", "Kriste Bronte", "Isia Vann", "Hank Fluss", "Inga Ferro", "Loreto Bodrogi", "Hennie Osvaldo", "Minke Mies", "Ruscella Mies Haber", "Rachel Pantanal"} '''

' pok = {"Carmine Osvaldo", "Ale L. Hanne", "Jeroen Karel", "Valentine Mies", "Yanick Cato", "Joreto Katell", "Henk Bodrogi", "Elian Karel", "Silvia Marek", "Mandor Vann", "Petrus Gerhard", "Maha Salo", "Joclyn Reynolds", "Cesare Nespola", "Lucio Jakab", "Lorenzo Di Stefano", "Michale Kraft", "Jon L.", "Kriste Bronte", "Isia Vann", "Hank Fluss", "Inga Ferro", "Loreto Bodrogi", "Hennie Osvaldo", "Minke Mies", "Ruscella Mies Haber", "Rachel Pantanal"} '

In [ ]:
''' df_employee["POK_Suspected"] = df_employee.FullName.apply(lambda name: "yes" if name in pok else "no") '''

' df_employee["POK_Suspected"] = df_employee.FullName.apply(lambda name: "yes" if name in pok else "no") '

### Kidnapped

In [ ]:
kidnapped = {"Mat Bramar", "Anda Ribera", "Linda Lagos", "Carla Forluniau", "Cornelia Lais",
             "Willem Vasco-Pais", "Ingrid Barranco", "Ada Campo-Corrente", "Orhan Strum"}

In [ ]:
df_employee["Kidnapped"] = df_employee.FullName.apply(lambda name: "yes" if name in kidnapped else "no")

## Aggiunta colonne per nodi network

In [ ]:
df_employee['FullName'] = df_employee['FullName'].str.lower()

df_pok['FullName']=df_pok['FullName'].str.lower()
pok_gastech['name']=pok_gastech['name'].str.lower()

In [ ]:
def conditions_css(df):
    if df['FullName'] in set(pok_gastech['name']):
        return 'pok_gastech-node'
    elif df['FullName'] in set(df_pok['FullName']):
        return 'pok-node'
    else:
        return 'gastech-node'


def conditions_label(df):
    if df['FullName'] in set(pok_gastech['name']):
        return 'pok_gastech-label'
    elif df['FullName'] in set(df_pok['FullName']):
        return 'pok-label'
    else:
        return 'gastech-label'

In [ ]:
df_employee['CssClass']= df_employee.apply(conditions_css, axis=1)
df_employee['LabelClass']= df_employee.apply(conditions_label, axis=1)

In [ ]:
df_employee['CssClass'].value_counts()

gastech-node        47
pok-node            20
pok_gastech-node     7
Name: CssClass, dtype: int64

In [ ]:
df_employee['Id'] = df_employee.index + 1
df_employee = df_employee[ ['Id'] + [ col for col in df_employee.columns if col != 'Id' ] ] #spostare la colonna id all'inizio

#aggiunta del nodo pok per collegare i membri della pok

df_pok_n = pd.DataFrame([[75, 'pok', 'POK','pok-node', 'pok-label']],
                   columns=['Id', 'FullName', 'Membership','CssClass', 'LabelClass'])

df_employee = pd.concat([df_employee,df_pok_n], ignore_index=True)
df_employee

    Id    LastName FirstName  ... Kidnapped          CssClass         LabelClass
0    1      Bramar       Mat  ...       yes      gastech-node      gastech-label
1    2      Ribera      Anda  ...       yes      gastech-node      gastech-label
2    3    Pantanal    Rachel  ...        no  pok_gastech-node  pok_gastech-label
3    4       Lagos     Linda  ...       yes      gastech-node      gastech-label
4    5  Mies Haber  Ruscella  ...        no  pok_gastech-node  pok_gastech-label
..  ..         ...       ...  ...       ...               ...                ...
70  71         NaN       NaN  ...        no          pok-node          pok-label
71  72         NaN       NaN  ...        no          pok-node          pok-label
72  73         NaN       NaN  ...        no          pok-node          pok-label
73  74         NaN       NaN  ...        no          pok-node          pok-label
74  75         NaN       NaN  ...       NaN          pok-node          pok-label

[75 rows x 24 columns]

### Fill dei valori di CurrentEmploymentType

In [ ]:
len(df_employee.loc[df_employee["CurrentEmploymentType"].isnull()])

21

In [ ]:
len(df_employee.loc[df_employee["Membership"] == "POK"])

21

In [ ]:
df_employee["CurrentEmploymentType"].loc[df_employee["CurrentEmploymentType"].isnull()] = "POK Member"

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [ ]:
df_employee["CurrentEmploymentType"]

0     Administration
1     Administration
2     Administration
3     Administration
4     Administration
           ...
70        POK Member
71        POK Member
72        POK Member
73        POK Member
74        POK Member
Name: CurrentEmploymentType, Length: 75, dtype: object

### fill dei valori di Gender

In [ ]:
df_employee[["FullName", "Gender"]].loc[df_employee["Gender"].isnull()]

              FullName Gender
54     carmine osvaldo    NaN
55        ale l. hanne    NaN
56        jeroen karel    NaN
57      valentine mies    NaN
58         yanick cato    NaN
59       joreto katell    NaN
60        henk bodrogi    NaN
61         elian karel    NaN
62        silvia marek    NaN
63         mandor vann    NaN
64      petrus gerhard    NaN
65           maha salo    NaN
66     joclyn reynolds    NaN
67      cesare nespola    NaN
68         lucio jakab    NaN
69  lorenzo di stefano    NaN
70       michale kraft    NaN
71              jon l.    NaN
72       kriste bronte    NaN
73          hank fluss    NaN
74                 pok    NaN

In [ ]:
df_employee["Gender"].loc[df_employee["FullName"] == "carmine osvaldo"] = "Male"
df_employee["Gender"].loc[df_employee["FullName"] == "ale l. hanne"] = "Female"
df_employee["Gender"].loc[df_employee["FullName"] == "jeroen karel"] = "Male"
df_employee["Gender"].loc[df_employee["FullName"] == "valentine mies"] = "Male"
df_employee["Gender"].loc[df_employee["FullName"] == "yanick cato"] = "Male"
df_employee["Gender"].loc[df_employee["FullName"] == "joreto katell"] = "Male"
df_employee["Gender"].loc[df_employee["FullName"] == "henk bodrogi"] = "Male"
df_employee["Gender"].loc[df_employee["FullName"] == "elian karel"] = "Male"
df_employee["Gender"].loc[df_employee["FullName"] == "silvia marek"] = "Female"
df_employee["Gender"].loc[df_employee["FullName"] == "mandor vann"] = "Male"
df_employee["Gender"].loc[df_employee["FullName"] == "petrus gerhard"] = "Male"
df_employee["Gender"].loc[df_employee["FullName"] == "maha salo"] = "Female"
df_employee["Gender"].loc[df_employee["FullName"] == "joclyn reynolds"] = "Female"
df_employee["Gender"].loc[df_employee["FullName"] == "cesare nespola"] = "Male"
df_employee["Gender"].loc[df_employee["FullName"] == "lucio jakab"] = "Male"
df_employee["Gender"].loc[df_employee["FullName"] == "lorenzo di stefano"] = "Male"
df_employee["Gender"].loc[df_employee["FullName"] == "michale kraft"] = "Male"
df_employee["Gender"].loc[df_employee["FullName"] == "jon l."] = "Male"
df_employee["Gender"].loc[df_employee["FullName"] == "kriste bronte"] = "Female"
df_employee["Gender"].loc[df_employee["FullName"] == "hank fluss"] = "Male"
df_employee["Gender"].loc[df_employee["FullName"] == "pok"] = "None"

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [ ]:
df_employee["Gender"].value_counts()

Male      47
Female    27
None       1
Name: Gender, dtype: int64

## Distributions

In [ ]:
df_employee

    Id    LastName FirstName  ... Kidnapped          CssClass         LabelClass
0    1      Bramar       Mat  ...       yes      gastech-node      gastech-label
1    2      Ribera      Anda  ...       yes      gastech-node      gastech-label
2    3    Pantanal    Rachel  ...        no  pok_gastech-node  pok_gastech-label
3    4       Lagos     Linda  ...       yes      gastech-node      gastech-label
4    5  Mies Haber  Ruscella  ...        no  pok_gastech-node  pok_gastech-label
..  ..         ...       ...  ...       ...               ...                ...
70  71         NaN       NaN  ...        no          pok-node          pok-label
71  72         NaN       NaN  ...        no          pok-node          pok-label
72  73         NaN       NaN  ...        no          pok-node          pok-label
73  74         NaN       NaN  ...        no          pok-node          pok-label
74  75         NaN       NaN  ...       NaN          pok-node          pok-label

[75 rows x 24 columns]

In [ ]:
df_employee.isna().sum()

Id                                   0
LastName                            21
FirstName                           21
BirthCountry                        21
Gender                               0
CitizenshipCountry                  21
CitizenshipBasis                    21
CurrentEmploymentType                0
CurrentEmploymentTitle              21
EmailAddress                        21
MilitaryServiceBranch               48
MilitaryDischargeType               48
FullName                             0
Age                                 21
YearsSinceCurrentEmploymentStart    21
YearsSincePassportIssueDate         42
YearsToPassportExpirationDate       42
YearsSinceMilitaryDischargeDate     48
AgeBind                             21
YSCESBind                           21
Membership                           0
Kidnapped                            1
CssClass                             0
LabelClass                           0
dtype: int64

In [ ]:
df_employee.nunique()

Id                                  75
LastName                            47
FirstName                           53
BirthCountry                         3
Gender                               3
CitizenshipCountry                   2
CitizenshipBasis                     2
CurrentEmploymentType                7
CurrentEmploymentTitle              30
EmailAddress                        54
MilitaryServiceBranch                4
MilitaryDischargeType                2
FullName                            75
Age                                 30
YearsSinceCurrentEmploymentStart    20
YearsSincePassportIssueDate         11
YearsToPassportExpirationDate       11
YearsSinceMilitaryDischargeDate     20
AgeBind                              3
YSCESBind                            3
Membership                           3
Kidnapped                            2
CssClass                             3
LabelClass                           3
dtype: int64

In [ ]:
def brachart(df, categoric_columns, size=(10, 5)):
    for col in categoric_columns:
        df[col].value_counts().plot(kind="bar", figsize=size)
        plt.title(col, pad=15, size=15)
        plt.ylabel(col + ' Frequencies', size=12)
        plt.xlabel(col + ' Values', size=12)
        plt.show()

In [ ]:
''' brachart(df_employee, df_employee.columns, size=(10, 5)) '''

' brachart(df_employee, df_employee.columns, size=(10, 5)) '

## file exoprt

In [ ]:
''' df_employee.to_json("persons.json", orient="records") '''

' df_employee.to_json("persons.json", orient="records") '

# Emails

In [ ]:
df_emails = pd.read_csv("data/email headers.csv", encoding='cp1252')

In [ ]:
df_emails = df_emails.drop_duplicates()
df_emails

                                   From  ...                                        Subject
0        Sven.Flecha@gastech.com.kronos  ...              GT-SeismicProcessorPro Bug Report
1      Kanon.Herrero@gastech.com.kronos  ...                    Inspection request for site
2      Bertrand.Ovan@gastech.com.kronos  ...  New refueling policies - Effective February 1
3     Valeria.Morlun@gastech.com.kronos  ...                Route suggestion for next shift
4         Mat.Bramar@gastech.com.kronos  ...                             Upcoming birthdays
...                                 ...  ...                                            ...
1165      Mat.Bramar@gastech.com.kronos  ...                       RE: Training opportunity
1166     Sven.Flecha@gastech.com.kronos  ...   RE: The most creative spam I've seen lately.
1167  Dylan.Scozzese@gastech.com.kronos  ...                 RE: Traffic advisory for today
1168     Varja.Lagos@gastech.com.kronos  ...                RE: Inspection request for site
1169    Albina.Hafon@gastech.com.kronos  ...                 RE: Traffic advisory for today

[1169 rows x 4 columns]

In [ ]:
df_emails.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1169 entries, 0 to 1169
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   From     1169 non-null   object
 1   To       1169 non-null   object
 2   Date     1169 non-null   object
 3   Subject  1169 non-null   object
dtypes: object(4)
memory usage: 45.7+ KB

In [ ]:
df_emails.isna().sum()

From       0
To         0
Date       0
Subject    0
dtype: int64

In [ ]:
re.sub("\ARE: ", "", "RE: Traffic advisory for today")

'Traffic advisory for today'

In [ ]:
df_emails.Subject = df_emails.Subject.apply(lambda s: re.sub("\ARE: ", "", s))

In [ ]:
df_emails.nunique()

From         55
To          238
Date       1064
Subject     157
dtype: int64

In [ ]:
for email in set(df_emails.From):
    if email not in set(df_employee.EmailAddress):
        print(email)

Sten.Sanjorge Jr.@gastech.com.tethys

In [ ]:
df_emails.From.loc[df_emails.From == "Sten.Sanjorge Jr.@gastech.com.tethys"] = "Sten.Sanjorge Jr.@gastech.com.kronos"

In [ ]:
df_emails = df_emails.merge(df_employee, left_on='From', right_on='EmailAddress')[["Date", "FullName", "From", "To", "Subject"]]
df_emails

                 Date  ...                                            Subject
0       1/6/2014 8:39  ...                  GT-SeismicProcessorPro Bug Report
1      1/6/2014 15:11  ...                  GT-SeismicProcessorPro Bug Report
2      1/7/2014 10:34  ...                  GT-SeismicProcessorPro Bug Report
3      1/7/2014 11:05  ...                  GT-SeismicProcessorPro Bug Report
4       1/8/2014 8:49  ...  Staff still leaving computers unlocked when th...
...               ...  ...                                                ...
1164  1/14/2014 19:25  ...              Action: Virus detected on your system
1165  1/15/2014 15:33  ...                              Employee of the month
1166  1/17/2014 10:59  ...          The rest of the files are in your mailbox
1167  1/17/2014 12:46  ...          The rest of the files are in your mailbox
1168  1/17/2014 13:07  ...          The rest of the files are in your mailbox

[1169 rows x 5 columns]

In [ ]:
''' df_emails.to_json("emails.json", orient="records") '''

' df_emails.to_json("emails.json", orient="records") '

In [ ]:
''' brachart(df_emails, ["From"], size=(15, 6)) '''

' brachart(df_emails, ["From"], size=(15, 6)) '

## Creazione archi

In [ ]:
df_emails_from = df_emails.rename(columns={'FullName': 'sid', 'To': 'EmailAddress'})
df_emails_from

                 Date  ...                                            Subject
0       1/6/2014 8:39  ...                  GT-SeismicProcessorPro Bug Report
1      1/6/2014 15:11  ...                  GT-SeismicProcessorPro Bug Report
2      1/7/2014 10:34  ...                  GT-SeismicProcessorPro Bug Report
3      1/7/2014 11:05  ...                  GT-SeismicProcessorPro Bug Report
4       1/8/2014 8:49  ...  Staff still leaving computers unlocked when th...
...               ...  ...                                                ...
1164  1/14/2014 19:25  ...              Action: Virus detected on your system
1165  1/15/2014 15:33  ...                              Employee of the month
1166  1/17/2014 10:59  ...          The rest of the files are in your mailbox
1167  1/17/2014 12:46  ...          The rest of the files are in your mailbox
1168  1/17/2014 13:07  ...          The rest of the files are in your mailbox

[1169 rows x 5 columns]

In [ ]:
#per splittare le email contenute in 'To'

s = df_emails_from['EmailAddress'].str.split(', ').apply(Series, 1).stack()

s.index = s.index.droplevel(-1) 
s.name = 'EmailAddress' 
del df_emails_from['EmailAddress']

df_emails_from=df_emails_from.join(s)  

df_emails_from.reset_index(drop=True, inplace=True)

In [ ]:
df_emails_from.EmailAddress.loc[df_emails_from.EmailAddress == "Sten.Sanjorge Jr.@gastech.com.tethys"] = "Sten.Sanjorge Jr.@gastech.com.kronos"

#unisco i due df per aggiungere l'attributo fullname per sostituire l'indirizzo email con il fullname

df_emails1 = pd.merge(df_emails_from, df_employee, on=['EmailAddress'], how='left')
df_emails1 = df_emails1[['sid','FullName']].rename(columns={'FullName': 'tid'})

df_emails1 = df_emails1.groupby(df_emails1.columns.tolist(),as_index=False).size()
df_emails1 = df_emails1[df_emails1['size'] > 2]

df_emails1=df_emails1[['sid','tid']]

In [ ]:
df_emails1 = df_emails1.loc[df_emails1.sid!=df_emails1.tid] #elimino email verso se stessi
df_emails1.reset_index(drop=True, inplace=True)
df_emails1['sid']=df_emails1['sid'].str.lower()
df_emails1['tid']=df_emails1['tid'].str.lower()

In [ ]:
# seleziono solo le coppie di nodi le quali si sono scambiate email --> es se esiste A,B ma non B,A allora A,B lo scartiamo

index_list=[]
for rowOut in range(len(df_emails1)):
  for rowIn in range(len(df_emails1)):
    if (str(df_emails1.loc[rowOut,'sid']) +" "+ str(df_emails1.loc[rowOut,'tid'])) != (str(df_emails1.loc[rowIn,'tid']) +" "+ str(df_emails1.loc[rowIn,'sid'])):
      continue

    index_list.append(rowOut)

df_email_und=df_emails1.loc[index_list]
df_email_und.reset_index(drop=True, inplace=True)
df_email_und

                    sid                  tid
0    ada campo-corrente        felix resumir
1    ada campo-corrente      ingrid barranco
2    ada campo-corrente          orhan strum
3    ada campo-corrente  ruscella mies haber
4    ada campo-corrente    sten sanjorge jr.
..                  ...                  ...
497   willem vasco-pais   ada campo-corrente
498   willem vasco-pais           inga ferro
499   willem vasco-pais      ingrid barranco
500   willem vasco-pais          orhan strum
501   willem vasco-pais    sten sanjorge jr.

[502 rows x 2 columns]

In [ ]:
#creazione archi pok
for rowOut in range(len(df_pok)):
  df_email_und.loc[df_email_und.shape[0]] = [df_pok.loc[rowOut,'FullName'], 'pok' ]

for rowOut in range(len(pok_gastech)):
  df_email_und.loc[df_email_und.shape[0]] = [pok_gastech.loc[rowOut,'name'], 'pok' ]

df_email_und.drop_duplicates(inplace=True)
df_email_und.reset_index(drop=True, inplace=True)
df_email_und

                     sid                  tid
0     ada campo-corrente        felix resumir
1     ada campo-corrente      ingrid barranco
2     ada campo-corrente          orhan strum
3     ada campo-corrente  ruscella mies haber
4     ada campo-corrente    sten sanjorge jr.
..                   ...                  ...
524       loreto bodrogi                  pok
525       hennie osvaldo                  pok
526           minke mies                  pok
527  ruscella mies haber                  pok
528      rachel pantanal                  pok

[529 rows x 2 columns]

In [ ]:
#ricerca delle righe contenente il reciproco delle coppie degli archi per poi eliminarli, per creare una rete undirected --> es. A,B e non anche B,A

name_list=list() 
index_list=list() 
for rowOut in range(len(df_email_und)):
  for rowIn in range(len(df_email_und)):
    if df_email_und.loc[rowOut,'sid'] +" "+df_email_und.loc[rowOut,'tid'] == df_email_und.loc[rowIn,'tid'] +" "+ df_email_und.loc[rowIn,'sid']:
      if (df_email_und.loc[rowOut,'sid'] +" "+df_email_und.loc[rowOut,'tid'] in name_list) or (df_email_und.loc[rowOut,'tid'] +" "+ df_email_und.loc[rowOut,'sid'] in name_list): 
        continue
      name_list.append(df_email_und.loc[rowOut,'sid'] +" "+df_email_und.loc[rowOut,'tid'])
      index_list.append(rowOut)


df_email_und.drop(index_list,inplace=True)
df_email_und.reset_index(drop=True, inplace=True)
df_email_und

                     sid            tid
0           albina hafon    adan morlun
1            axel calzas  adra nubarron
2         benito hawelon    adan morlun
3         benito hawelon   albina hafon
4          bertrand ovan    adan morlun
..                   ...            ...
273       loreto bodrogi            pok
274       hennie osvaldo            pok
275           minke mies            pok
276  ruscella mies haber            pok
277      rachel pantanal            pok

[278 rows x 2 columns]

In [ ]:
#sostituzione del nome con l'id per le due colonne tid e sid

df_email_und = df_email_und.rename(columns={'sid': 'FullName'})
df_email_und = pd.merge(df_email_und, df_employee, on=['FullName'], how='left')
df_email_und = df_email_und[['Id','tid']].rename(columns={'tid': 'FullName', 'Id': 'sid'})
df_email_und = pd.merge(df_email_und, df_employee, on=['FullName'], how='left')
df_email_und =df_email_und[['sid','Id']].rename(columns={'Id': 'tid'})
df_email_und

     sid  tid
0     30   35
1     10   18
2     31   35
3     31   30
4     26   35
..   ...  ...
273   52   75
274   48   75
275   47   75
276    5   75
277    3   75

[278 rows x 2 columns]

## file export

In [ ]:
df_email_und.to_json("links.json", orient='records')

# Aggiunta colonna Links

In [ ]:
nodi=list(df_employee['Id'])
new_column= []
for rowOut in range(len(nodi)):
  links = []
  for rowIn in range(len(df_email_und)):
    if df_email_und.loc[rowIn,'sid'] == nodi[rowOut]:
      links.append(df_email_und.loc[rowIn,'tid'])
  new_column.append(links)



new_column

[[18, 2, 6, 7, 48, 23, 4],
 [],
 [2, 6, 7, 4, 1, 75],
 [2, 6, 7],
 [24, 18, 2, 6, 7, 48, 54, 23, 4, 39, 1, 3, 75],
 [2],
 [2, 6],
 [18, 10, 17, 13, 12, 27, 15, 19, 9, 11, 14, 16],
 [18, 10, 17, 13, 12, 15, 19],
 [18],
 [18, 10, 13, 12, 15, 19, 9],
 [18, 10, 31, 17, 13, 50],
 [18, 10, 17],
 [18, 2, 10, 17, 13, 12, 15, 19, 9, 11],
 [18, 10, 13, 12],
 [18, 10, 13, 12, 15, 19, 9, 11, 14],
 [10],
 [],
 [18, 10, 17, 13, 12, 15],
 [18, 10, 13, 12, 15, 19, 9, 11, 14, 16, 8, 47],
 [24, 54, 23, 25, 22],
 [24, 23, 25],
 [24, 18, 48],
 [],
 [24, 19, 23],
 [35, 30, 31],
 [35, 30, 31, 32, 29, 38],
 [35, 30, 31, 6, 36, 32, 29, 38, 27, 33, 37, 1, 34],
 [35, 30, 31, 26, 36, 32],
 [35],
 [35, 30],
 [35, 30, 31, 26, 36],
 [35, 30, 31, 26, 36, 32, 29, 38, 27],
 [35, 30, 31, 32, 29, 38, 27, 33],
 [],
 [35, 30, 31, 26],
 [35, 30, 31, 26, 36, 32, 29, 38, 27, 33],
 [35, 30, 31, 26, 36, 32, 29],
 [48],
 [29, 27, 41, 39],
 [17],
 [41, 40],
 [41, 40, 42],
 [50, 51, 48, 54],
 [51, 48, 53, 54, 49, 44, 52, 46],
 [50, 51, 48, 53, 54, 44, 52],
 [54, 75],
 [18, 50, 51, 75],
 [32, 50, 48, 53, 75],
 [],
 [24, 31, 50],
 [48, 54, 23, 49, 44, 75],
 [7, 29, 50, 48],
 [50, 51, 33, 48, 53, 75],
 [75],
 [75],
 [75],
 [75],
 [75],
 [75],
 [75],
 [75],
 [75],
 [75],
 [75],
 [75],
 [75],
 [75],
 [75],
 [75],
 [75],
 [75],
 [75],
 [75],
 []]

In [ ]:
df_employee['TargetNodes']=new_column
df_employee

    Id  ...                                     TargetNodes
0    1  ...                        [18, 2, 6, 7, 48, 23, 4]
1    2  ...                                              []
2    3  ...                             [2, 6, 7, 4, 1, 75]
3    4  ...                                       [2, 6, 7]
4    5  ...  [24, 18, 2, 6, 7, 48, 54, 23, 4, 39, 1, 3, 75]
..  ..  ...                                             ...
70  71  ...                                            [75]
71  72  ...                                            [75]
72  73  ...                                            [75]
73  74  ...                                            [75]
74  75  ...                                              []

[75 rows x 25 columns]

In [ ]:
df_employee["Kidnapped"].loc[df_employee["Kidnapped"].isnull()] = "None"

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [ ]:
df_employee.to_json("persons.json", orient='records')